
.bio {
    background-image: linear-gradient(
        rgba(220, 17, 17, 0.45), 
        rgba(59, 119, 165, 0.45)
      ), url(/assets/owl.jpg);
    height: 20em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding-top: 4em;
    font-size: 40px;
    font-weight: bold;
    // position: relative;
    // bottom: 0;
    // color: #f1f1f1;
    // width: 100%;
    // background-size: 100% 100%;
    // padding: 20px;
}

.container-bottom {
    background-color: whitesmoke;
}
